.left { float:left; width:620px;}
.right { float:right; width:260px; }
.rightbox {float:right; width:100%; background-color:#EDF2F6; -moz-border-radius: 8px;-webkit-border-radius:8px;}
.tixbox { float:left; width:100%; background-color:#ffb088; -moz-border-radius: 8px;-webkit-border-radius:8px; }
.sendbox { float:left; background-color:#EDF2F6; -moz-border-radius: 8px;-webkit-border-radius:8px;}
#sp_note { float:left; margin-left:20px; color:#ff0000; }
.bar b { font-weight:normal; border-bottom:solid 1px #777; float:left; display:block; padding:24px 0px 0px 10px; *padding-top:8px; }
.bar a { border:solid 1px #777; float:left; }
.bar a b { padding:2px 16px 4px 16px; *padding:4px 16px 2px 16px; cursor:pointer; border:solid 1px #c0c0c0; border-bottom-color:#888; color:#ffffff; background-color:#888;}
.bar a.curr { border-bottom-color:#ffffff; }
.bar a.curr b { border-color:#dddddd; border-bottom-color:#ffffff; color:#222222; background-color:#ffffff; }
.item { padding:14px 6px; border-bottom:dashed 1px #999999; }
.item .col1 { float:left; width:50px; }
.item .col1 img { border:none;}
.item .col2 { float:right; width:554px; }
.item .rcol2 { float:right; width:500px; }
.item p { padding:1px 0px; font-size:14px;}
.item2 { padding:6px; *width:550px; }
.loginhead { border-top:solid 2px #acd5f8; background-color:#D3E7F8; padding:6px 16px; font-weight:bold;}
.loginbody { background-color:#E4F2FD; padding:16px 26px;}
.loginphoto { width:80px; border:solid 1px #ccc; padding:1px; }
.loginline { margin-top:16px;padding-top:12px; line-height:200%; border-top:solid 1px #ffffff; }
a.publish { background:url(/images/layout_add.gif) no-repeat; padding-left:18px; padding-bottom:2px; }
a.reply { background:url(/images/e6.gif) no-repeat 10px 0px;padding-left:26px;}
.pagelist { text-align:center; margin:20px 0px; }
.pagelist a,.pagelist b { padding:1px 5px; }
.pagelist a:hover { color:#ffffff; background-color:#0066cc; }
.pagelist b { text-decoration:underline; }
#r_div { padding-left:46px; background-color:#eeeeee; margin-top:4px; }
a.more { float:right; margin-right:20px; margin-top:-20px; }
.rightbox .item { padding:8px 2px; }
.rightbox .item .col2 { width:164px; overflow:hidden;}
.chkRe { background:url(/images/icon_check.gif) no-repeat; padding:0px 0px 4px 22px; }
.nochk { background-image:url(/images/icon_check_off.gif);}