<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="codeHighlighter" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter.Net20"/>
		<section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter"/>
	</configSections>
	<appSettings>
		<add key="connstring" value="server=.;database=openblog;user id=cnopenblog;password=cnopenblog.com;"/>
		<add key="IndexDirectory" value="SearchEngine\Index\"/>
		<add key="StoreDirectory" value="SearchEngine\Store\"/>
		<add key="DictsDirectory" value="SearchEngine\Dicts\"/>
	<add key="com.google.api.GoogleSearch" value="http://api.google.com/search/beta2"/>
	</appSettings>
	<connectionStrings/>
	<CustomConfiguration>
		<urls>
			<add virtualUrl="~/ajax/(.+)" destinationUrl="~/ajax/$1"/>
			<add virtualUrl="~/(.+)/feed\.htm" destinationUrl="~/rss.aspx?q=$1"/>
			<add virtualUrl="~/([\d]{3}.*)\.htm" destinationUrl="~/list.aspx?q=$1"/>
			<add virtualUrl="~/postlist/([\w/]+)\.aspx" destinationUrl="~/postlist.aspx?q=$1"/>
			<add virtualUrl="~/inbox/([\w/]+)\.aspx" destinationUrl="~/inbox.aspx?q=$1"/>
			<add virtualUrl="~/groups/([\d]{5,6})\.aspx" destinationUrl="~/groups/groupinfo.aspx?q=$1"/>
			<add virtualUrl="~/groups/([\d]{5,6})/member\.aspx" destinationUrl="~/groups/member.aspx?q=$1"/>
			<add virtualUrl="~/groups/topic/([\d]+)\.aspx" destinationUrl="~/groups/topic.aspx?q=$1"/>
			<add virtualUrl="~/groups/reply/([\d]+)\.aspx" destinationUrl="~/groups/reply.aspx?q=$1"/>
			<add virtualUrl="~/group/topiclist/([\d]{5,6}.*)\.htm" destinationUrl="~/group/topiclist.aspx?q=$1"/>
			<add virtualUrl="~/group/topic/([\d]{5,6}.*)\.htm" destinationUrl="~/group/topic.aspx?q=$1"/>
			<add virtualUrl="~/group/tag/([\w \+]+)\.htm" destinationUrl="~/group/tag.aspx?q=$1"/>
			<add virtualUrl="~/group/([\d]{5,6})/member\.htm" destinationUrl="~/group/member.aspx?q=$1"/>
			<add virtualUrl="~/group/([\d]{5,6})/blog((/.+)?)\.htm" destinationUrl="~/group/bloglist.aspx?q=$1$2"/>
			<add virtualUrl="~/group/([\d]{5,6}.*)\.htm" destinationUrl="~/group/group.aspx?q=$1"/>
			<add virtualUrl="~/group/([\d]{2}.*)\.htm" destinationUrl="~/group/list.aspx?q=$1"/>
			<add virtualUrl="~/group/(\w+)\.htm" destinationUrl="~/group/user.aspx?q=$1"/>
      <add virtualUrl="~/shortblog/([\w/]+)\.htm" destinationUrl="~/shortblog/usersb.aspx?q=$1"/>
			<add virtualUrl="~/tag/([\w \+]+)\.htm" destinationUrl="~/tag/tag.aspx?q=$1"/>
			<add virtualUrl="~/city/(\w+)\.htm" destinationUrl="~/tag/location.aspx?q=$1"/>
			<add virtualUrl="~/industry/(\w+)\.htm" destinationUrl="~/tag/industry.aspx?q=$1"/>
			<add virtualUrl="~/([a-z]{1}[\w/]+)\.htm" destinationUrl="~/blogger.aspx?q=$1"/>
		</urls>
	</CustomConfiguration>
	<system.web>
		<httpModules>
			<add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule"/>
		</httpModules>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off"></customErrors>
	</system.web>
	<codeHighlighter>
		<!--
    <cache languageTimeout="3" />
    <keywordLinking enabled="true" target="_blank" defaultKeywordCollectionKey="ActiproKeywords">
      <keywordCollection key="ActiproKeywords">
        <explicitKeyword tokenKey="IdentifierToken" patternValue="Actipro" url="http://www.actiprosoftware.com" caseSensitive="false" />
        <explicitKeyword tokenKey="IdentifierToken" patternValue="CodeHighlighter" url="http://www.codehighlighter.com" caseSensitive="false" />
      </keywordCollection>
    </keywordLinking>
    -->
		<languages>
			<language key="Assembly" definitionPath="~/Languages/Lexers/ActiproSoftware.Assembly.xml"/>
			<language key="BatchFile" definitionPath="~/Languages/Lexers/ActiproSoftware.BatchFile.xml"/>
			<language key="C#" definitionPath="~/Languages/Lexers/ActiproSoftware.CSharp.xml"/>
			<language key="CSS" definitionPath="~/Languages/Lexers/ActiproSoftware.CSS.xml"/>
			<language key="HTML" definitionPath="~/Languages/Lexers/ActiproSoftware.HTML.xml"/>
			<language key="INIFile" definitionPath="~/Languages/Lexers/ActiproSoftware.INIFile.xml"/>
			<language key="Java" definitionPath="~/Languages/Lexers/ActiproSoftware.Java.xml"/>
			<language key="JScript" definitionPath="~/Languages/Lexers/ActiproSoftware.JScript.xml"/>
			<language key="Lua" definitionPath="~/Languages/Lexers/ActiproSoftware.Lua.xml"/>
			<language key="MSIL" definitionPath="~/Languages/Lexers/ActiproSoftware.MSIL.xml"/>
			<language key="Pascal" definitionPath="~/Languages/Lexers/ActiproSoftware.Pascal.xml"/>
			<language key="Perl" definitionPath="~/Languages/Lexers/ActiproSoftware.Perl.xml"/>
			<language key="PHP" definitionPath="~/Languages/Lexers/ActiproSoftware.PHP.xml"/>
			<language key="PowerShell" definitionPath="~/Languages/Lexers/ActiproSoftware.PowerShell.xml"/>
			<language key="Python" definitionPath="~/Languages/Lexers/ActiproSoftware.Python.xml"/>
			<language key="SQL" definitionPath="~/Languages/Lexers/ActiproSoftware.SQL.xml"/>
			<language key="VB.NET" definitionPath="~/Languages/Lexers/ActiproSoftware.VBDotNet.xml"/>
			<language key="VBScript" definitionPath="~/Languages/Lexers/ActiproSoftware.VBScript.xml"/>
			<language key="XAML" definitionPath="~/Languages/Lexers/ActiproSoftware.XAML.xml"/>
			<language key="XML" definitionPath="~/Languages/Lexers/ActiproSoftware.XML.xml"/>
		</languages>
		<lineNumberMargin foreColor="Teal" paddingCharacter=" " visible="true"/>
		<outlining enabled="true" imagesPath="~/Images/OutliningIndicators/"/>
		<spacesInTabs count="4"/>
	</codeHighlighter>
</configuration>
