body{margin:0px;padding:0px;font-family:"ו",arial;font-size:12px;color:#000; background-color: #FFF; }
div,form,img,ul,ol,li,dl,dt,dd {margin:0px;padding:0px;border:0px;}
h1,h2,h3,h4,h5,h6 {margin:0px;padding:0px;}
table,td,tr,th{font-size:12px;}
a{behavior:url(/script/blur.htc);}
/**/
.left{float:left;}
.right{float:right;}
.clear{clear:both;font-size:1px; width:1px; height:0px; visibility:hidden;}
.hidden {display:none;}
.display{display:none;}
.unLine,.unLine a{text-decoration:none;}
.noBorder{border:none;}
select{border:1px solid #6699CC;font:12px Arial,Helvetica,sans-serif;line-height:20px;}
